:root {
    --branding-color: black;
    --secondary-color: #f0f0f0;
    --heading-font-family:"Yeseva One", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
    background-color: var(--branding-color);
}
h2{
    color:var(--secondary-color);
}
h5,
h6 {
    color:var(--branding-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

.hero-subtitle{
    font-size: 64px;
    color: var(--secondary-color);
}
 
p {
    font-weight: normal;
    color: var(--branding-color);
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight:normal;
    line-height: 1.5;
    font-size: 24px;
}

.content-container {
    padding: 160px 20px;
    color: var(--branding-color);
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size:14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding:hover {
    background: rgb(42, 38, 42);
    color: white;
}

.btn-branding-outline {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 60px;
}

.project-description {
    padding: 120px 60px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color:white;
    transition: all 100ms;
}

nav a:hover, 
    nav li.active a {
        color: var(--secondary-color);
    }

    footer {
        margin:60px 0;
    }

    footer .contact-box {
        background: var(--secondary-color);
        padding: 30px 120px;
        border-radius: 10px;
    }

    footer .contact-box p{
        margin: 0;
    }

    footer .email-link {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

    footer .email-link:hover {
        color: #6c63ff;
    }

    footer .social-links a{
        margin: 0 20px;
        color: var(--branding-color);
        background: var(--secondary-color);
        padding: 10px 10px;
        border-radius: 50%;
        font-size: 30px;
        transition: all 100ms ease-in-out;
    }

    footer .social-links a:hover {
        color: #6c63ff;
    }

@media (max-width:900px) {
    h1{
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .project-description {
        padding:0;
        text-align: center;
    }
}